<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>ExamOverflow</title>
  
      <link rel="stylesheet" href="css/stylea.css">
      <link rel="stylesheet" href="css/styleSearch.css">
  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
  <header id="header" class="">
  <div id="wrap">
  <form action="" autocomplete="on">
  <input id="search" name="search" type="text" placeholder="Curso, Materia, Profe"><input id="search_submit" value="Rechercher" type="submit">
  </form>
    </div>
  
  </header><!-- /header -->

<h1>Cursos</h1>

<a href="/FisicaIV" title="">
<div class="wrap wrap-defaults">
  <div class="box-rotate-wrap">
    <div class="box box-rotate box-rotate-top">
      <div class="front">
        <h2>Fisica IV</h2> 
      </div>
      <div class="back">
        <h2>Back</h2>
      </div>
      <div class="top">
        <h3>Ir al curso</h3> 
      </div>
      
      </div>
    </div>
  </div>
</a>

<a href="/MatematicaGeneral" title="">
  <div class="box-rotate-wrap">
    <div class="box box-rotate box-rotate-right">
      <div class="front">
        <h2>Matematica General</h2> 
      </div>
      <div class="right">
        <h3>Ir al curso</h3> 
      </div>
    </div>
  </div>
</a>
</div>

<a href="#" title="">
  <div class="box-rotate-wrap">
    <div class="box box-rotate box-rotate-back">
      <div class="front">
        <h2>Probabilidad</h2>
      </div>
      <div class="back">
        <h3>Ir al curso</h3>
      </div>
      <div class="top">
        <h2>Top</h2>
      </div>
      <div class="bottom">
        <h2>Bottom</h2>
      </div>
      <div class="left">
        <h2>Left</h2>
      </div>
      <div class="right">
        <h2>Right</h2>
      </div>
    </div>
  </div>
</a>
<a href="#" title="">
  <div class="box-rotate-wrap">
    <div class="box box-rotate box-rotate-back">
      <div class="front">
        <h2>Algebra</h2>
      </div>
      <div class="back">
        <h3>Ir al curso</h3>
      </div>
      <div class="top">
        <h2>Top</h2>
      </div>
      <div class="bottom">
        <h2>Bottom</h2>
      </div>
      <div class="left">
        <h2>Left</h2>
      </div>
      <div class="right">
        <h2>Right</h2>
      </div>
    </div>
  </div>
</a>


       </div>
    </div>
   </div>
  </div>
 </body>
</html>
